<h1>Login</h1>

<%= form_tag '/login' do %>

  <div class="row">
    Email: <br><%= text_field_tag :email %>
  </div>
  <div class="row">
    Password: <br><%= password_field_tag :password %>
  </div>
  <br>
  <div class="row">
    <%= submit_tag "Submit", :class => 'btn btn-raised btn-primary' %>
  </div>

<% end %>